{{/*
  CAUTION SHORTCODE
  Creates a caution alert/callout box to highlight important cautions or potential issues.
  
  Usage: 
  {{< caution >}}
  Incorrect wiring may damage your device. Double-check connections before powering on.
  You can include **Markdown** formatting within the caution.
  {{< /caution >}}
  
  Content:
  The content between the opening and closing shortcode tags will be displayed inside the caution box.
*/}}
<blockquote class="alert alert-caution">
  <p class="alert-heading">{{ transform.Emojify ":exclamation:" }} Caution</p>
  {{ .Inner | .Page.RenderString}}
</blockquote>
