{{/*
  COLLAPSE SHORTCODE
  Creates a collapsible section
  
  Usage: 
  {{< collapse  >}}
  This content will be hidden by default and can be expanded by clicking the header.
  You can include any Markdown content here, including lists, code blocks, etc.
  {{< /collapse >}}
  
  Parameters:
  1. open (optional): If set to false, the content will be hidden initially
  
  Content:
  The content between the opening and closing shortcode tags will be hidden by default
  and can be toggled by clicking on the header.
*/}}
{{ $is_open := .Get 0 }}
{{ if eq $is_open "False" }}
    {{ $is_open = false }}
{{ end }}
<details {{ if $is_open }}open{{ end }}>
    <summary>
    </summary>
    <div>
        {{ .Inner | markdownify }}
    </div>
</details>

