{{ $features := .Inner | transform.Unmarshal }}

<div class="feature-grid">
  {{ range $features }}
  <div class="feature-card">
    <div class="feature-icon">
      {{ if hasPrefix .icon "fa-" }}
      <i aria-hidden="true" class="fas {{ .icon }}"></i>
      {{ else }}
      {{ os.ReadFile (printf "static/images/icons/%s.svg" .icon) | safeHTML }}
      {{ end }}
    </div>
    <div class="feature-text">{{ .title }}</div>
    <p>{{ .description | markdownify | safeHTML }}</p>
  </div>
  {{ end }}
</div>
