{{ $items := .Inner | transform.Unmarshal }}

<div class="getting-started-grid">
  {{ range $items }}
    <div class="feature-card">
      <div class="feature-icon">
          {{ if hasPrefix .icon "fa-" }}
              <i aria-hidden="true" class="fas {{ .icon }}"></i>
          {{ else }}
              {{ os.ReadFile (printf "static/images/icons/%s.svg" .icon) | safeHTML }}
          {{ end }}
      </div>
      <div class="getting-started-heading">{{ .title }}</div>
      <p>{{ .description | safeHTML }}</p>
      {{ if .steps }}
      <ol>
        {{ range .steps }}
          <li>{{ . | safeHTML }}</li>
        {{ end }}
      </ol>
      {{ end }}
      {{ if .url }}
        <a href="{{ .url }}" class="btn btn-primary">{{ .button_text }}</a>
      {{ end }}
    </div>
  {{ end }}
</div>
