{{/* 
  HTML_FILE SHORTCODE
  Read a file and insert as html inside a div

  Usage: 
  {{< html_file file="example.html" class="examlple-class" >}}
  
  Parameters:
  - file (required) - The file to read and insert as html
  - class (optional) - CSS class to apply to the enclosing div

*/}}
{{- $file := .Get "file" -}}
{{- $class := .Get "class" -}}
{{- if $class -}}
<div class="{{ $class }}">
{{- end -}}
{{ $content := os.ReadFile (printf "static/%s" $file) | safeHTML }}
{{- $content -}}
{{- if $class -}}
</div>
{{- end -}}
