{{/*
  Important SHORTCODE
  Creates an "important" alert/callout box to highlight important cautions or potential issues.
  
  Usage: 
  {{< important >}}
  Incorrect wiring may damage your device. Double-check connections before powering on.
  You can include **Markdown** formatting within the block.
  {{< /important >}}
  
  Content:
  The content between the opening and closing shortcode tags will be displayed inside the block.
*/}}
<blockquote class="alert alert-important">
  <p class="alert-heading">{{ transform.Emojify ":information_source:" }} Important</p>
  {{ .Inner | .Page.RenderString }}
</blockquote>
