{{- $name := .Get 0 | strings.TrimSuffix ".md" -}}

{{- /* 1: Try as resource (leaf bundle snippets) */ -}}
{{- $res := .Page.Resources.GetMatch (printf "%s.md" $name) -}}
{{- if $res }}
    {{ .Page.RenderString $res.Content }}
{{- else -}}
    {{- /* 2: Try as headless or sibling page */ -}}
    {{- $p := site.GetPage (printf "page/%s" $name) -}}
    {{- if not $p }}
        {{- $p = .Page.GetPage $name -}}
    {{- end -}}
    {{- with $p }}
        {{ .Content }}   {{/* already-rendered Markdown + shortcodes */}}
    {{- else -}}
        {{ errorf "include: could not find %q relative to %q" $name $.Page.File.Path }}
    {{- end -}}
{{- end -}}
