{{/* 
  NOTE SHORTCODE
  Creates a note alert/callout box to highlight important information.
  
  Usage: 
  {{< note >}}
  This is important information that the reader should pay attention to.
  You can include **Markdown** formatting within the note.
  {{< /note >}}
  
  Content:
  The content between the opening and closing shortcode tags will be displayed inside the note box.
*/}}
<blockquote class="alert alert-note">
  <p class="alert-heading">{{ transform.Emojify ":information_source:" }} Note</p>
  {{ .Inner | .Page.RenderString }}
</blockquote>
