{{/* 
  TIP SHORTCODE
  Creates a tip alert/callout box to highlight helpful advice or best practices.
  
  Usage: 
  {{< tip >}}
  For best results, place the sensor away from heat sources.
  You can include **Markdown** formatting within the tip.
  {{< /tip >}}
  
  Content:
  The content between the opening and closing shortcode tags will be displayed inside the tip box.
*/}}
<blockquote class="alert alert-tip">
<p class="alert-heading">{{ transform.Emojify ":white_check_mark:" }} Tip</p>
{{- .Inner | .Page.RenderString -}}
</blockquote>
