{{/*
  WARNING SHORTCODE
  Creates a warning alert/callout box to highlight important cautions or potential issues.
  
  Usage: 
  {{< warning >}}
  Incorrect wiring may damage your device. Double-check connections before powering on.
  You can include **Markdown** formatting within the warning.
  {{< /warning >}}
  
  Content:
  The content between the opening and closing shortcode tags will be displayed inside the warning box.
*/}}
<blockquote class="alert alert-warning">
  <p class="alert-heading">{{ transform.Emojify ":warning:" }} Warning</p>
  {{ .Inner | .Page.RenderString}}
</blockquote>

