{{ define "main" }}
<div class="content-container">
    <div class="sidebar sidebar-fixed">
        {{ partial "sidebar.html" . }}
    </div>
    <div class="content">
        {{ $firstHeading := "" }}
        {{ with (index (index .Fragments.Headings 0).Headings 0) }}
            {{ $firstHeading = .Title }}
        {{ end }}


        {{ if ne .Title $firstHeading }}
            <h1>{{ .Title }}</h1>
        {{ end }}

        {{ .Content }}
    </div>
    <div class="overlay" id="overlay"></div>
    <div class="sidebar sidebar-mobile">
        {{ partial "sidebar.html" . }}
    </div>
</div>
{{ end }}
