{{/*
Try to convert a link text to match a known anchor, with soft failure.
The link will be searched for in the given domain, and or category
*/}}
{{- $text := .text -}}
{{- $domain := .domain -}}
{{- $category := .category -}}
{{- $link := .link -}}
{{- $links := slice (printf "%s%s" $domain .link) (printf "%s%s-%s" $domain .link $category) .link (printf "%s-%s" .link $category) -}}
{{- $anchors := site.Data.anchors -}}
{{- $entries := false -}}
{{- range $links -}}
    {{- $entries = index $anchors . -}}
    {{- if $entries -}}
        {{- $link = . -}}
        {{- break -}}
    {{- end -}}
{{- end -}}
{{- $foundLocal := false -}}
{{- if $entries -}}
    {{- range $entries -}}
        {{- if eq .page .Page.File.Path -}}
            {{- $text = $text | default .text -}}
            {{- $foundLocal = true -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- if $foundLocal -}}
    {{- printf "[%s](#%s)" $text $link -}}
{{- else if $entries -}}
    {{- $firstEntry := index $entries 0 -}}
    {{- $text = $text | default $firstEntry.text -}}
    {{- printf "[%s](/%s#%s)" $text $firstEntry.page $link -}}
{{- else -}}
    {{- $text -}}
{{- end -}}
