{{- $branch := getenv "BRANCH" | default site.Params.branch | default "current" -}}
{{- if eq $branch "new" -}}
    {{- $branch = "current" -}}
{{- end -}}
{{- $category := .Get 0 -}}
{{- $data := index site.Data.automations $branch "automations" -}}

{{- if $data -}}
    {{- $markdown := "" -}}
    {{- range $cat, $items := $data -}}
        {{- if eq $cat $category -}}
        {{- $singular := substr $category 0 (sub (len $category) 1) -}}
            {{- range $domain, $entries := $items -}}
                {{- $entryList := "" -}}
                {{- $docref := printf "{{< docref %s %s true >}}" $domain $domain -}}
                {{- if eq $domain "Core" -}}
                    {{- $docref = printf "[Common %s](#common-%s)" $category $category -}}
                    {{- $domain = "" -}}
                {{- end -}}
                {{- range $i, $entry := $entries -}}
                    {{- $entryLink := printf "%s" (replace $entry "." "") -}}
                    {{- $entryLink = partial "linkify.html" (dict "domain" $domain "text" $entry "link" $entryLink "category" $singular) -}}
                    {{- if $i -}}{{- $entryList = printf "%s, " $entryList -}}{{- end -}}
                    {{- $entryList = printf "%s%s" $entryList $entryLink -}}
                {{- end -}}
                {{- $markdown = printf "%s- **%s**: %s\n" $markdown $docref $entryList -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- $markdown | markdownify -}}
{{- else -}}
    <p>⚠️ Data not found for branch: <code>{{- $branch -}}</code></p>
{{- end -}}
