{{ $currentPage := . }}
{{ $title := .Title }}
{{- $branch := getenv "BRANCH" | default site.Params.branch   -}}
{{- $repo_url := getenv "REPOSITORY_URL" | default site.Params.repo.url   -}}
{{- $commit_hash := getenv "COMMIT_REF" | default site.Params.commit.hash   -}}
{{ $component_prefix := printf "<code>%s." (path.Base .RelPermalink) }}
<div class="sidebar-content {{ if .Content }}scroll-trap{{ end }}">
    <h3>{{ $title }}</h3>
    <nav class="sidebar-nav">
        {{ if .Fragments }}
            {{ if .Fragments.Headings }}
                <button class="toc-sort-button" aria-label="Toggle sort order" title="Toggle sort order">
                    <svg class="toc-alphabetic dark-invert" width="20px" height="20px" viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                         role="button"
                         aria-label="Change sort order to alphabetic"
                         style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:1.5;">
                            <g transform="matrix(1,0,0,0.914735,-4.13954,30.1809)">
                            <g transform="matrix(1,-0,-0,1.09321,4.13954,-32.9941)">
                                <path d="M356.605,447.266L199.105,657.266L41.605,447.266L356.605,447.266Z"></path>
                                <path d="M199.105,142.734L199.105,489.266" style="fill:none;stroke:black;stroke-width:70px;"></path>
                            </g>
                        </g>
                        <g transform="matrix(1.28546,0,0,1.24993,-175.898,-69.8762)">
                            <text x="494.942px" y="325.959px"
                                  style="font-family:'Arial-Black', 'Arial Black', sans-serif;font-weight:900;font-size:255.79px;">
                                A
                            </text>
                            <g transform="matrix(255.79,0,0,255.79,686.785,581.748)">
                            </g>
                            <text x="502.061px" y="581.748px"
                                  style="font-family:'Arial-Black', 'Arial Black', sans-serif;font-weight:900;font-size:255.79px;">
                                Z
                            </text>
                        </g>
                    </svg>
                    <svg class="toc-linear dark-invert" width="20px" height="20px" viewBox="0 0 800 800"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         role="button"
                         aria-label="Change sort order to as-written"
                         xml:space="preserve"
                         style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:1.5;">
                        <g transform="matrix(1,0,0,0.914735,-4.13954,30.1809)">
                            <g transform="matrix(1,-0,-0,1.09321,4.13954,-32.9941)">
                                <path d="M356.605,447.266L199.105,657.266L41.605,447.266L356.605,447.266Z"/>
                                <path d="M199.105,142.734L199.105,489.266" style="fill:none;stroke:black;stroke-width:70px;"/>
                            </g>
                        </g>
                        <g transform="matrix(1.05978,0,0,1.31704,-29.6607,-138.931)">
                            <path d="M462.101,199.062L704.231,199.062" style="fill:none;stroke:black;stroke-width:29.28px;stroke-linecap:round;"/>
                        </g>
                        <g transform="matrix(1.05978,0,0,1.31704,-29.6607,-33.5681)">
                            <path d="M462.101,199.062L704.231,199.062" style="fill:none;stroke:black;stroke-width:29.28px;stroke-linecap:round;"/>
                        </g>
                        <g transform="matrix(1.05978,0,0,1.31704,-29.6607,71.7947)">
                            <path d="M462.101,199.062L704.231,199.062" style="fill:none;stroke:black;stroke-width:29.28px;stroke-linecap:round;"/>
                        </g>
                        <g transform="matrix(1.05978,0,0,1.31704,-29.6607,177.158)">
                            <path d="M462.101,199.062L704.231,199.062" style="fill:none;stroke:black;stroke-width:29.28px;stroke-linecap:round;"/>
                        </g>
                        <g transform="matrix(1.05978,0,0,1.31704,-29.6607,282.52)">
                            <path d="M462.101,199.062L704.231,199.062" style="fill:none;stroke:black;stroke-width:29.28px;stroke-linecap:round;"/>
                        </g>
                        <g transform="matrix(1.05978,0,0,1.31704,-29.6607,387.883)">
                            <path d="M462.101,199.062L704.231,199.062" style="fill:none;stroke:black;stroke-width:29.28px;stroke-linecap:round;"/>
                        </g>
                    </svg>
                </button>
                {{ $start_level := 9 }}
                <ul class="toc-alphabetic">
                    {{ range .Fragments.HeadingsMap }}
                        {{ if gt $start_level .Level }}
                            {{ $start_level = .Level }}
                        {{ end }}
                    {{ end }}
                    {{ range .Fragments.HeadingsMap }}
                        {{ if eq .Level $start_level }}
                            <li><a class="toc-entry" href="#{{ .ID }}">{{ replaceRE `:\s*$` "" .Title | safeHTML }}</a>
                                {{ if .Headings }}
                                    {{ partial "toc_secondary_list.html" (dict "Headings" .Headings "ComponentPrefix" $component_prefix) }}
                                {{ end }}
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
                <ul class="toc-linear">
                    {{ $headings := .Fragments.Headings }}
                    {{ if and (gt (len $headings) 0) (eq (index $headings 0).Level 0) }}
                        {{/* Case 1: First item is Level 0, use its .Headings */}}
                        {{ $headings = (index $headings 0).Headings }}
                    {{ end }}

                    {{ range $headings }}
                        <li><a class="toc-entry" href="#{{ .ID }}">{{ replaceRE `:\s*$` "" .Title | safeHTML }}</a>
                            {{ if .Headings }}
                                {{ partial "toc_secondary_list.html" (dict "Headings" .Headings "ComponentPrefix" $component_prefix) }}
                            {{ end }}
                        </li>
                    {{ end }}
                </ul>
            {{ end }}
        {{ end }}
        {{ if and (ne .Params.description "main documentation") .Pages }}
            <h3>In this section</h3>
            <ul class="section-list">
                {{ range .Pages }}
                    {{ if .Title }}
                    <li class="section-item">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                {{ end }}
            </ul>
        {{ end }}
    </nav>

    <div class="sidebar-resource">
        <hr>
        {{ $repo := $repo_url | strings.TrimSuffix ".git"  }}
        {{ with .File }}
            {{ $path := printf "%s/blob/%s/content/%s" $repo $branch .Path }}
            <a href="{{ $path }}" class="ghedit">
                {{ os.ReadFile "static/images/icons/edit.svg" | safeHTML }}
                Edit this page on GitHub
            </a>
        {{ end }}
    </div>
</div>
