{{- $headings := .Headings -}}
{{- $component_prefix := .ComponentPrefix -}}
{{- if $headings }}
<ul>
  {{- range $headings }}
    {{- $broke_title := replaceRE `(\.)` `${1}&#x200B;` .Title | safeHTML -}}
    {{- $broke_title = replace $broke_title $component_prefix "<code>." | safeHTML -}}
    {{- $broke_title = replace $broke_title "<strong>Action</strong>" "" | safeHTML -}}
    {{- $broke_title = replaceRE `</code>\s+Action` "</code>" $broke_title | safeHTML -}}
    {{- $broke_title = replace $broke_title "<strong>Condition</strong>" "" | safeHTML -}}
    {{- $broke_title = replaceRE `</code>\s+Condition` "</code>" $broke_title | safeHTML -}}
    <li><a class="toc-secondary" href="#{{ .ID }}">{{ $broke_title |  safeHTML }}</a></li>
  {{- end }}
</ul>
{{- end -}}
